---
layout: default
permalink: /galleries/
---

{% include header.html %}

<p><i>Classes:</i></p>

<p>
The Photographer's Eye: at Marin Arts on June 11th<br />
You don't have to be a genius to take great pictures, just know how to look and what to see. Learn to capture wonderful images in your frame with any point and shoot 35 mm camera. Bring your 35 mm digital camera and laptop (MacBooks with iPhoto strongly recommended!) along with any necessary cords and learn what it takes to make a great art shot, start to finish. <br />
<a href="http://events.r20.constantcontact.com/register/event?llr=jzunpxbab&oeidk=a07e3y8xwhv0fe78b16">Click here</a> for more info.
</p>



<p><i>Upcoming shows:</i></p>

<p>
Marin Arts Members Exhibit<br />
Ongoing,<br />
Marin Civic Center, San Rafael, CA
</p>

<p>
Salon 1968:<br />
Poetry by Quinton Hallett and Photography by Leela Pratt<br />
Saturday, June 25, 2-5pm<br />
20 Teal Road Belvedere, CA
</p>

<p>
For more information please call 415 420 2960
</p>


<br /><br /><br /><br />

<p><i>Leela's photos have been featured in these galleries:</i></p>
<p><a href="http://ststephenschurch.org/artangelssamples.htm">St. Stephens Art Angels Festival</a></p>

<p>
Photographs by Leela Pratt<br />
at Washington Mutual Bank<br />
1535 Tiburon Boulevard<br />
Tiburon, CA  94920<br />
415 435 5051<br />
M-F:  9 am - 6 pm; Sat:  9 am - 1 pm<br />
through January 19, 2008</p>

<p>For more information:<br />
415 420 2960
</p>


{% include footer.html %}

