---
layout: default
permalink: /greetingcards/
---

{% include header.html %}



<p>Beautifully reproduced 5x7" cards with cream colored envelopes.  Available singly, in  packs of one, two or three of each design, or in customized packs of your choosing.</p>

<table>
<tr>
<td colspan=2>

<p>After payment, please send an email to <a href="mailto:leela@leelapratt.com">leela (at) leelapratt (dot) com</a> and let us know which cards to send.</p>

<span class="buynowbutton">
$3/each (plus shipping):
<form method="post" action="https://www.paypal.com/cgi-bin/webscr">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="leelapratt@gmail.com">
<input type="hidden" name="item_name" value="Greeting Cards - Individual">
<input type="hidden" name="item_number" value="greeting1">
<input type="hidden" name="amount" value="3.00">
<input type="hidden" name="shipping" value="1.50">
<input type="hidden" name="shipping2" value="0.20">
<input type="hidden" name="handling" value="0.00">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="return" value="http://www.leelapratt.com/">
<input type="hidden" name="note" value="yes">
<input type="hidden" name="note_title" value="Special Instructions">
<input type="hidden" name="undefined_quantity" value="1">
<input type="image" src="http://images.paypal.com/en_US/i/btn/x-click-but23.gif" border="0" name="submit" width="68" height="23" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
</span>



</td>
</tr>
<tr valign="top">
<td width="50%">

Golden Gate Bridge I<br />
<a href="/images/newcard1.jpg" target="_blank"><img src="/images/newcard1thumb.jpg" width="240" /></a><br /><br />



White Agapanthus I<br />
<a href="/images/newcard3.jpg" target="_blank"><img src="/images/newcard3thumb.jpg" width="240" /></a><br /><br />




Buddha, Late Summer (#1)<br />
<a href="/images/61.jpg" target="_blank"><img src="/images/61.jpg" width="150" /></a><br /><br />




White Roses at Dawn (#3)<br />
<a href="/images/63.jpg" target="_blank"><img src="/images/63.jpg" width="150" /></a>
<br /><br />



</td>
<td width="50%">

Clouds I<br />
<a href="/images/newcard2.jpg" target="_blank"><img src="/images/newcard2thumb.jpg" width="240" /></a><br /><br />



Amy: Caves of Light II<br />
<a href="/images/newcard4.jpg" target="_blank"><img src="/images/newcard4thumb.jpg" width="240" /></a><br /><br />


Egret in Winter (#2)<br />
<a href="/images/62.jpg" target="_blank"><img src="/images/62.jpg" width="150" /></a>
<br /><br />

Halloween Sunrise (#80)<br />
<a href="/images/60.jpg" target="_blank"><img src="/images/60.jpg" width="150" /></a>
<br /><br />

</td></tr>
</table>

{% include footer.html %}
