---
layout: default
permalink: /info/
---

{% include header.html %}


<p>All photos are available framed and unframed.  Framed photos are $225 and unframed photos are $125. Please add $25 for framed and $10 for unframed for shipping and handling. The photograph dimensions are 12x18".  Matted and framed the dimensions are 18x24".</p>

<p>Frames are slim, elegant black matte metal, with a thick, bright white 3" archival mat.</p>

<p>To order a photo, please email Leela at <a href="mailto:leela@leelapratt.com">leela (at) leelapratt (dot) com</a>. Thank you for your patronage!</p>

{% include footer.html %}
