<html>
<head>
  <title>"A Year on the Lagoon" Photography by Leela Pratt</title>
<LINK REL=StyleSheet HREF="/css/main.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
<div id="photoContent">

<div id="header">"A Year on the Lagoon": <font size="-2;">photography by leela pratt</font></div>


<div id="nav">

<a href="/">home</a>
<a href="/info/">order prints</a>
<a href="/greetingcards/">order greeting cards</a>
<a href="/galleries/">galleries</a>
<br />
<a href="mailto:leela@leelapratt.com">leela (at) leelapratt (dot) com</a>

</div>
<br /><br /><br /><br /><br /><br />
